@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-blue: #124358;
  --pressed-blue: #436C7D;
  --pressed-outlined: #DBE4E8;
  --light-blue: #F4F4F5;
  --yellow: #FFE34E;
  --brand-blue: #2DABE3;
  --main-black: #0E0E0F;
  --dark-grey: #49454F;
  --middle-grey: #A1A1AA;
  --main-white: #FFFFFF;
  --warning: #B3261E;
  --warning-pressed: #881912;
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

/* body {
  overflow: hidden;
} */

*,
*::before,
*::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.slider-container {
  max-width: 328px;
  margin: 0 auto 40px;

  @media screen and (min-width: 769px) {
    max-width: 365px;
    margin: 0 24px 0 0;
  }

  @media screen and (min-width: 1281px) {
    width: 473;
    margin: 0 124px 0 0;
  }
}

.slider img {
  width: 100%;
  height: auto;
}